body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root > div {
  background: rgb(255,255,255);
  background: linear-gradient(rgba(255,255,255,1) 20%, rgba(162,255,177,1) 74%);
  height: 100vh;
}
