body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100%;
  overflow-x: hidden;
}

body > #root > div {
  background: rgb(255,255,255);
  background: linear-gradient(rgba(255,255,255,1) 3%, rgba(162,255,177,1) 44%);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}
